@import "tailwindcss";
/* Relway font */
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
/* Tajwal fonts */
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@theme {
	--color-button: #161616;
	--font-Raleway: "Raleway", sans-serif;
	--font-Tajawal: "Tajawal", "Poppins", sans-serif;
	--color-span: #828e8e;
}
@layer utilities {
	.marquee-container {
		/* الحركة الافتراضية (LTR) */
		animation: marquee-ltr 40s linear infinite;
	}

	/* عندما يكون اتجاه الصفحة RTL */
	[dir="rtl"] .marquee-container {
		/* استخدم الحركة المعكوسة */
		animation-name: marquee-rtl;
	}

	/* تعريف الحركات (Keyframes) */
	@keyframes marquee-ltr {
		from {
			transform: translateX(0%);
		}
		to {
			transform: translateX(-100%);
		}
	}

	@keyframes marquee-rtl {
		from {
			transform: translateX(0%);
		}
		to {
			transform: translateX(100%);
		}
	}
}
[dir="rtl"] body,
[dir="rtl"] body * {
	font-family: var(--font-Tajawal) !important;
}
.slick-dots {
	bottom: 20px !important;
}

.slick-dots li button:before {
	font-size: 24px !important;
	color: white !important;
	opacity: 0.75;
}

.slick-dots li.slick-active button:before {
	color: rgb(82, 82, 82) !important;
	opacity: 1 !important;
}

.marquee-container {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box; /* يضمن أن الـ padding والـ border لا تؤثر على العرض */
	padding: 10px; /* مثال: إضافة حشوة داخلية */
}

.marquee-content {
	width: 200%; /* اجعل عرض المحتوى ضعف عرض الحاوية */
	display: inline-block;

	/* تطبيق الأنيميشن */
	animation: marquee 15s linear infinite;
}

.marquee-content:hover {
	animation-play-state: paused;
}

/* لا تغيير هنا */
@keyframes marquee {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
